@import "tailwindcss";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@theme {
  --color-primary: #2C3A57;
  --color-secondary: #E1E7EB;
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-accent: #F81A1A;
  --color-transparent: transparent;
}


.no-select {
  @apply select-none;            /* Tailwind user-select: none */  
  -webkit-touch-callout: none;    /* chặn menu long‑press trên iOS */  
}

nextjs-portal {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.flex-nesw {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverBtn {
  @apply transition duration-300 ease-in-out transform hover:scale-105 select-none cursor-pointer;
}

.overflow-y-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.cart-item {
  @apply w-full h-max border-2 rounded-2xl border-secondary;
}

.hoverChangeBtn {
  @apply border-2 border-accent rounded-lg hover:bg-accent hover:text-light cursor-pointer ;
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.3s ease-out forwards;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}